.lastPictureButton {
  background-color: white;
  padding: 8px 12px 8px 12px;
  border: 2.5px solid black;
  border-radius: 50%;
  font-size: 25px;
  margin-top: 375px;
  margin-left: 100px;
  /* margin-right: 30px; */
}


.nextPictureButton {
  background-color: white;
  padding: 8px 12px 8px 12px;
  border: 2.5px solid black;
  border-radius: 50%;
  font-size: 25px;
  margin-top: 210px;
  margin-right: 120px;
}

.exitBTN {
  background-color: black;
  padding: 8px 10px 8px 10px;
  border: 2.5px solid black;
  border-radius: 50%;
  margin-top: 125px;
  margin-left: 25px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}